// Override or add CSS variables for your theme here

:root {
  --ucu-blue: #0B3D91;
  --ucu-maroon: #D7014D;
  --ucu-yellow: #FFD932;
  --ucu-green: #007931;

  @include media-breakpoint-up(md) {
    --ds-header-logo-height: 76px;
    --ds-header-height: 100px;
  }
  @include media-breakpoint-down(sm) {
    --ds-header-logo-height: 54px;
    --ds-header-height: 88px;
  }

  --ds-banner-text-background: rgba(11, 61, 145, 0.78);
  --ds-banner-background-gradient-width: 180px;
  --ds-header-bg: #fff;
  --ds-header-icon-color: var(--ucu-blue);
  --ds-header-icon-color-hover: var(--ucu-maroon);
  --ds-navbar-bg: #fff;
  --ds-navbar-link-bg: transparent;
  --ds-navbar-link-bg-hover: #f8f9fa;
  --ds-navbar-link-color: #0B3D91;
  --ds-navbar-link-color-hover: #071f49;
  --ds-expandable-navbar-bg: #fff;
  --ds-expandable-navbar-link-bg: #fff;
  --ds-expandable-navbar-link-bg-hover: #f8f9fa;
  --ds-expandable-navbar-link-color: #0B3D91;
  --ds-expandable-navbar-link-color-hover: #071f49;

  --ds-header-navbar-border-bottom-color: #ced4da;
  --ds-header-navbar-border-bottom-height: 1px;

  /* set the next two properties as `--ds-header-navbar-border-bottom-*`
  in order to keep the bottom border of the header when navbar is expanded */

  --ds-expandable-navbar-border-top-color: #{$white};
  --ds-expandable-navbar-border-top-height: 0;
  --ds-expandable-navbar-padding-top: 0;

  --ds-item-page-img-field-default-inline-height: 24px;
  --ds-item-page-img-field-ror-inline-height: var(--ds-item-page-img-field-default-inline-height);
}
