<header id="main-site-header">
  <div class="ucu-utility-bar">
    <div class="container d-flex align-items-center justify-content-between gapx-3">
      <a class="utility-update" routerLink="/home">
        <span aria-hidden="true"></span>
        Check for recent website updates
      </a>
      <nav class="utility-links" aria-label="UCU quick links">
        <a href="https://ucu.ac.ug/" target="_blank" rel="noopener">List of All Programmes</a>
        <a href="https://mail.google.com/" target="_blank" rel="noopener">Webmail</a>
        <a href="https://mail.google.com/" target="_blank" rel="noopener">Students Mail</a>
        <a href="https://alpha.ucu.ac.ug/" target="_blank" rel="noopener">Alpha</a>
        <a href="https://ucu.ac.ug/careers/" target="_blank" rel="noopener">Careers</a>
        <a href="https://elearning.ucu.ac.ug/" target="_blank" rel="noopener">e-Learning</a>
        <a href="https://ucu.ac.ug/research/" target="_blank" rel="noopener">Research at UCU</a>
        <a href="https://ucu.ac.ug/" target="_blank" rel="noopener">UIS</a>
      </nav>
    </div>
  </div>
  <div class="container d-flex flex-row align-items-center justify-content-between gapx-3 gapy-2" id="main-site-header-container">
    <!-- Logo and navbar wrapper -->
    <div id="header-left"
      [attr.role]="(isMobile$ | async) ? 'navigation' : 'presentation'"
      [attr.aria-label]="(isMobile$ | async) ? ('nav.main.description' | translate) : null"
         class="h-100 flex-fill d-flex flex-row flex-nowrap justify-content-start align-items-center gapx-3 flex-grow-1">
      <a class="d-block my-2 my-md-0" routerLink="/home" [attr.aria-label]="'home.title' | translate" role="button" tabindex="0">
        <img id="header-logo" src="assets/images/ucu-logo-lib.png" [attr.alt]="'menu.header.image.logo' | translate"/>
      </a>
      @if ((isMobile$ | async) !== true) {
        <nav class="navbar navbar-expand p-0 align-items-stretch align-self-stretch flex-grow-1 flex-shrink-1" id="desktop-navbar" [attr.aria-label]="'nav.main.description' | translate">
          <ds-navbar></ds-navbar>
        </nav>
      }
    </div>
    <!-- Search bar and other menus -->
    <div id="header-right" class="h-100 d-flex flex-row flex-nowrap flex-shrink-0 justify-content-end align-items-center gapx-1 ms-auto">
      <ds-search-navbar></ds-search-navbar>
      <div role="toolbar" class="h-100 d-flex flex-row flex-nowrap align-items-center gapx-1">
        <ds-lang-switch></ds-lang-switch>
        <ds-context-help-toggle></ds-context-help-toggle>
        <ds-impersonate-navbar></ds-impersonate-navbar>
        <ds-auth-nav-menu></ds-auth-nav-menu>
      </div>
      <a class="apply-now d-none d-md-inline-flex" href="https://apply.ucu.ac.ug/" target="_blank" rel="noopener">Apply Now</a>

      @if ((isMobile$ | async)) {
        <div id="mobile-navbar-toggler" class="d-block d-lg-none ms-3">
          <button id="navbar-toggler" class="btn btn-transparent" type="button" (click)="toggleNavbar()"
            [attr.aria-label]="'nav.toggle' | translate" aria-controls="collapsible-mobile-navbar" [attr.aria-expanded]="(isNavBarCollapsed$ | async) !== true">
            <span class="fas fa-bars fa-fw fa-xl toggler-icon" aria-hidden="true"></span>
          </button>
        </div>
      }
    </div>
  </div>
</header>
