@if (editMode | async) {
    <ng-container *ngTemplateOutlet="editMetadataTemplate"></ng-container>
}
@else {
    <ng-container *ngTemplateOutlet="selectMetadataTemplate"></ng-container>
}

<ng-template #selectMetadataTemplate>
  <div class="container">
    <h3 class="mb-4">{{'menu.section.cms.edit.metadata.head' | translate}}</h3>
    <div class="input-group">
      <select class="form-control col-md-4 mr-3 mb-2" aria-label="Select metadata" [(ngModel)]="selectedMetadata">
        <option [ngValue]="undefined" disabled selected>{{'admin.edit-cms-metadata.select-metadata' | translate}}</option>
        @for (md of metadataList; track $index) {
           <option [value]="md">{{md}}</option>
        }
      </select>
      <span class="input-group-btn">
        <button id="edit-metadata-btn" class="btn btn-primary" (click)="editSelectedMetadata()" [dsBtnDisabled]="!selectedMetadata">
          <i class="fas fa-edit mr-1"></i>
          {{'admin.edit-cms-metadata.edit-button' | translate}}
        </button>
    </span>
    </div>
  </div>
</ng-template>


<ng-template #editMetadataTemplate>
  <div class="container">
    <h2 class=" mb-5">{{'admin.edit-cms-metadata.title' | translate}} '{{selectedMetadata}}'</h2>
    <ds-alert [type]="'alert-info'" [dismissible]="true" [content]="'admin.edit-cms-metadata.markdown' | translate"></ds-alert>
    <div class="row">
      <div class="col-md">
        @for (lang of (languageMap | keyvalue); track lang.key) {
          <div class="form-group">
            <label>{{languageLabel(lang.value)}}</label>
            @if (isEditingHomeHeader()) {
              <div class="cms-home-header-tools m-2 p-3">
                <p class="mb-2">
                  Use this field to manage the compact homepage research-impact slider. Add one slide per block and separate slides with <code>---</code>. The link should point to an item page inside this repository.
                </p>
                <div class="d-flex flex-wrap gap-2">
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="insertResearchImpactSlide(lang.key)">
                    <i class="fas fa-plus mr-1"></i>
                    Insert slide template
                  </button>
                  <label class="btn btn-outline-secondary btn-sm mb-0">
                    <i class="fas fa-image mr-1"></i>
                    Upload slide image
                    <input type="file" class="d-none" accept="image/*" (change)="uploadResearchImpactImage($event, lang.key)">
                  </label>
                </div>
              </div>
            }
            <textarea class="col-md-12 m-2" [ngModel]="selectedMetadataValues.get(lang.key)" (ngModelChange)="selectedMetadataValues.set(lang.key, $event)" rows="10"></textarea>
          </div>
        }
      </div>
    </div>
    <ng-container *ngTemplateOutlet="editMetadataButtonsTemplate"></ng-container>
  </div>
</ng-template>


<ng-template #editMetadataButtonsTemplate>
  <div class="row">
    <div class="col-md">
      <button id="save-metadata-btn" class="btn btn-primary float-right m-2" (click)="saveMetadata()">
          <span>
            <i class="fas fa-save mr-1"></i>
            {{ 'admin.edit-cms-metadata.save-button' | translate }}
          </span>
      </button>
      <button id="back-metadata-btn" class="btn btn-outline-secondary float-right m-2" (click)="back()">
          <span>
            <i class="fas fa-arrow-left mr-1"></i>
            {{ 'admin.edit-cms-metadata.back-button' | translate }}
          </span>
      </button>
    </div>
  </div>
</ng-template>
